.header{
    padding-top: 1em;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    left:0;
    width: 100%;
    justify-content: space-around;
    color: #ffffffbf;
    font-weight: bold;
    z-index: 99999999;
    background: rgb(0, 0, 0);
    border-bottom: 1px solid white;
}


.list_items{
    display: flex;
    align-items: center;
}

.list_items li{
    cursor: pointer;
    margin-left: 1em;
    text-transform: capitalize;
}